<header class="text">
  <h1 class="form-title heading-large" id="groupLabel"><%= form.model.header %></h1>
</header>

<fieldset>
  <% form.model.form_fields.each do |ff| %>
      <%= fields_for :data_nodes do |d| %>
          <legend class="visuallyhidden"><%= ff.question %></legend>
          <%= d.label ff.field,  ff.question, class: 'form-label' %>
          <%= d.text_field :field, class: 'form-control form-control-char-50' %>
      <% end %>
  <% end %>
</fieldset>